@import "string-double-quotes.css";
@import 'string-single-quotes.css';
@import url(url-no-quotes.css);
@import url("url-double-quotes.css");
@import url('url-single-quotes.css');
@import url('simple-media-query.css') print;
@import url('two-media-queries.css') projection, tv;
@import url('complex-media-query.css') handheld and (max-width: 400px);

@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

body {
  background: url("single-url.gif");
  background:
    url("first-url.gif"),
    url("second-url.gif");
}

body {
  background:
    lightblue 
    url("multiple-values.gif")
    no-repeat fixed center;
}

body {
  background: url("data:image/svg+xml,ignore-inline-assets");
}
